

<div class="container">
        <h1>Listado de Productos</h1>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id Producto</th>
                <th scope="col">Nombre Producto</th>
                <th scope="col">Precio Unitario</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Id Categoria</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let p of productos">
                <th scope="row">{{p.id}}</th>
                <td>{{p.nombre_prod}}</td>
                <td>{{p.precio_unitario}}</td>
                <td>{{p.cantidad}}</td>
                <td>{{p.idCategoria}}</td>
              </tr>
            </tbody>
          </table>
</div>