
<div class="container">

    <h1>Crear Producto</h1>

    <form>
    
        <div class="mb-3">
            <label for="nombre_prod" class="form-label">Nombre Producto</label>
            <input [(ngModel)]="nombre_prod" type="text" class="form-control" id="nombre_prod" name="nombre_prod">
        </div>

        <div class="mb-3">
            <label for="precio_unitario" class="form-label">Precio Unitario</label>
            <input [(ngModel)]="precio_unitario" type="number"  step="2" class="form-control" id="precio_unitario" name="precio_unitario">
        
        </div>

        <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input [(ngModel)]="cantidad" type="number" class="form-control" id="cantidad" name="cantidad">
            
        </div>

        <div class="mb-3">
            <label for="idCategoria" class="form-label">Id Categoria</label>
            <input [(ngModel)]="idCategoria" type="number" class="form-control" id="idCategoria" name="idCategoria">
        </div>


        <button type="submit" class="btn btn-primary" (click)="crearProducto()">Crear</button>
        <button type="submit" class="btn btn-light" routerLink="">Regresar</button>
        
  </form>
</div>